.fees-head{
margin-left: 40px;
margin-right:40px;
margin-top: 40px;

}
.fees-container {
  background-color: #f7f9fc;
  padding: 20px 20px;
  max-width: 1000px;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  font-family: 'Segoe UI', sans-serif;
  margin-bottom: 40px;
}
.fees-section table{
  min-width: 600px;
}
.fees-title {

  font-size: 32px;
  font-weight: 700;
  color: #112d4e;
  margin-bottom: 8px;

}
.fees-title::after {
  content: "";
  display: block;
  width: 25%;
  height: 3px;
  background-color: #112d4e;
  margin-top: 10px;
  margin-bottom: 30px;
  border-radius: 2px;
}
.fees-section {
   margin-top:30px;
   overflow-x: auto;
  width: 100%;
}

.fees-section h3 {
  font-size: 22px;
  margin-bottom: 15px;
  color: #000;
}
.fees-section h1{
  font-size:30px;
  margin-top:15px;
  margin-bottom:30px;
}

/* Tables */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

table thead {
  background-color: #f0f0f0;
}

table th, table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: left;
}
@media(max-width: 768px){
  .fees-head{
margin-left: 10px;
margin-right:10px;


}
}


